---
const { headings } = Astro.props;
---

<h3 class="font-bold mb-6">On this page</h3>
<ul>
  {
    headings
      .filter((heading: any) => heading.depth === 2)
      .map((heading: any) => {
        return (
          <li class="py-1">
            <a class="text-secondary" href={'#' + heading.slug}>
              {heading.text}
            </a>
          </li>
        );
      })
  }
</ul>
