html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  @apply bg-primary;
  @apply text-primary;
}

body {
  font-family: 'Helvetica', Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

/* Button styling */

button,
a.button {
  font-size: 14px;
  border-radius: 10px;
  padding: 4px 15px;
  transition: all 0.3s;
  border: 0;
}

button.default {
  @apply border border-primary;
}

button.default:hover {
  @apply border border-theme text-theme;
}

button.primary {
  @apply bg-theme text-white border-0;
}

button.primary:hover {
  @apply bg-theme-hover;
}

button.text {
  @apply border-0 hover:bg-secondary;
}

button.square {
  padding: 4px 4px;
}

/* Icon styling */

[data-icon] {
  font-size: 18px;
}
