@import 'base.css';

/* HOMEPAGE */

body.gradient-bg {
  background: rgb(245, 252, 255);
  background: linear-gradient(
    135deg,
    rgba(245, 252, 255, 0.563484768907563) 0%,
    rgba(227, 232, 245, 0.5662858893557423) 16%,
    rgba(199, 216, 235, 0.5074623599439776) 36%,
    rgba(189, 190, 241, 0.38421306022408963) 62%,
    rgba(206, 241, 242, 0.4934567577030813) 81%,
    rgba(242, 251, 252, 0.5970982142857143) 100%
  );
}

html.dark body.gradient-bg {
  background: rgb(0, 13, 17);
  background: linear-gradient(
    135deg,
    rgba(0, 3, 4, 0.563484768907563) 0%,
    rgba(3, 10, 27, 0.5662858893557423) 16%,
    rgba(7, 23, 41, 0.5074623599439776) 36%,
    rgba(15, 15, 59, 0.38421306022408963) 62%,
    rgba(6, 29, 36, 0.4934567577030813) 81%,
    rgba(0, 4, 4, 0.4850533963585434) 100%
  );
}

/* HEADER */

.header-wrap {
  @apply fixed top-0 w-full z-50;
}

.header-bg {
  @apply bg-body border-b border-primary shadow-sm;
}

.header {
  @apply h-16 w-full flex justify-between items-center px-8;
}

/* HEADER MENU - a toggable dropdown menu below 768 */

.header .header-menu {
  @apply relative flex items-center gap-6;
}

@media screen and (max-width: 768px) {
  .header .header-menu {
    @apply fixed top-16 left-0 right-0 bottom-0 py-4 w-full hidden flex-col items-end px-8;
    @apply bg-body;
    @apply border-t border-primary;
  }

  .header.menu-open .header-menu {
    @apply flex;
  }
}

/* HEADER MENU TOGGLE */

.header #menu-toggle {
  @apply hidden z-50;
}

@media screen and (max-width: 768px) {
  .header #menu-toggle {
    @apply block;
  }
}

/* HEADER MENU TOGGLE ICON - display correct icon depending on menu-open state */

.header .action-open {
  display: block;
}

.header .action-close {
  display: none;
}

.header.menu-open .action-open {
  display: none;
}

.header.menu-open .action-close {
  display: block;
}

/* HEADER MENU DISCORD BUTTON - add specific color and styling */

.header a.discord {
  background-color: #5865f2;
  color: white;
  font-weight: 600;
  @apply flex items-center gap-2;
}

.header a.discord:hover {
  background-color: #5865f2cc;
}

/* PROSE */

.prose {
  max-width: 768px;
  --tw-prose-body: #000;
}

.prose span.function {
  color: #e03e2d;
  font-style: italic;
}

.prose span.object {
  color: #7c00bf;
  font-style: italic;
}

.prose div.note {
  margin: 1.4em 3em;
  padding: 1em;
  @apply rounded-md;
  @apply bg-yellow-100 border border-yellow-300 text-yellow-900;
}

html.dark .prose {
  --tw-prose-body: #fff;
  --tw-prose-headings: #fff;
  --tw-prose-bold: #fff;
  --tw-prose-links: #fff;
}

html.dark .prose span.function {
  color: #ff6c6c;
}

html.dark .prose span.object {
  color: #d381ff;
  font-style: italic;
}

html.dark .prose div.note {
  @apply bg-yellow-900 border border-yellow-600 text-yellow-100;
}

/* Modal styling */

.search-modal {
  @apply fixed z-50 pt-20 left-0 top-0 w-full h-full bg-neutral-900 bg-opacity-60;
}

.search-modal-content {
  @apply bg-body mx-auto max-w-[560px] rounded-md border border-primary;
}

.search-modal-content .search-input {
  @apply w-full h-10 bg-primary border border-primary rounded-md outline-none;
  @apply pl-10 pr-4 text-lg;
}

.search-modal-content .search-input:focus {
  @apply border-theme;
}

.search-modal-toggle {
  @apply bg-primary border border-primary w-44 relative flex items-center gap-2;
}

/* Scrollbar styling */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-body;
  border-left: 1px solid rgba(100, 100, 100, 0.2);
}

html.dark ::-webkit-scrollbar-track {
  border-left: 1px solid rgba(200, 200, 200, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-[#c1c1c1] dark:bg-[#6b6b6b];
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-[#7d7d7d] dark:bg-[#939393];
}
