---
import { deslugify } from '../../util/util';
import { Icon } from 'astro-icon/components';

const { chapter, index } = Astro.props;

const getAllArticles = await Astro.glob('../../pages/*/*/*.md');

const articles = getAllArticles.filter((article) => {
  return article.url?.includes(chapter);
});
---

<li class="mb-6">
  <div id={'toggle-chapter_' + index} class="chapter-toggle cursor-pointer flex justify-between items-start">
    <div class="w-4/5 pointer-events-none font-semibold">{deslugify(chapter)}</div>
    <Icon id={'toggle-icon_' + index} class="pointer-events-none mt-1 scale-150" name="basil:caret-down-outline" />
  </div>
  <ul id={'articles-list_' + index} class="mt-2">
    {
      articles
        .sort((a, b) => (a.frontmatter.sortOrder > b.frontmatter.sortOrder ? 1 : -1))
        .map((article) => (
          <li class="py-1 pl-4 border-l border-primary">
            <a href={article.url}>{article.frontmatter.title}</a>
          </li>
        ))
    }
  </ul>
</li>
