---
import { slugify, deslugify } from '../../util/util';
import { Icon } from 'astro-icon/components';

const { projectId, chapter, index } = Astro.props;

const getAllArticles = await Astro.glob('../../pages/*/*/*.md');

const articles = getAllArticles.filter((article) => {
  return article.url?.includes(chapter) && article.url?.includes(projectId);
});
---

<li class="mb-6">
  <div id={'toggle-chapter_' + index} class="chapter-toggle cursor-pointer flex justify-between items-start">
    <div class="w-4/5 pointer-events-none font-semibold">{deslugify(chapter)}</div>
    <Icon id={'toggle-icon_' + index} class="pointer-events-none mt-1 scale-150" name="basil:caret-down-outline" />
  </div>
  <ul id={'articles-list_' + index} class="mt-2">
    {
      articles
        .sort((a, b) => (a.frontmatter.sortOrder > b.frontmatter.sortOrder ? 1 : -1))
        .map((article) => {
          const isCurrentArticle = Astro.url.href.includes(slugify(article.frontmatter.title));

          return (
            <li class="ml-1 pl-2 border-l border-primary hover:border-secondary transition-all">
              <a href={article.url} class={`link article-link ${isCurrentArticle ? 'article-link-current' : ''}`}>
                {article.frontmatter.title}
              </a>
            </li>
          );
        })
    }
  </ul>
</li>
