---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const pageTitle = 'Jon Van Dam';

const projects = await getCollection('projects');
---

<BaseLayout pageTitle={pageTitle}>
  <div class="p-5">
    <div class="flex gap-4 mb-4">
      <button class="primary">Hello world</button>
      <button class="default">Hello world</button>
      <button class="text">Hello world</button>
    </div>
    <div class="container">
      {
        projects.map((project: any) => (
          <li>
            <a
              href={`/projects/${project.data.title.replace(' ', '-').toLowerCase()}`}
            >
              {project.data.title}
            </a>
          </li>
        ))
      }
    </div>
  </div>
</BaseLayout>
