---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Jon Van Dam';

const projects = await Astro.glob('./*/*.md');
---

<BaseLayout pageTitle={pageTitle}>
  <div class="py-10">
    <div class="my-16 text-center">
      <h1 class="text-4xl font-bold text-primary">Discover our high quality Blueprint components</h1>
    </div>
    <div class="flex flex-wrap justify-center items-center gap-20">
      {
        projects
          .sort((a, b) => (a.frontmatter.title.localeCompare(b.frontmatter.title) ? -1 : 1))
          .map((project) => {
            return (
              <div class="shadow-md rounded-lg overflow-hidden">
                <a href={project.url}>
                  <img src={project.frontmatter.thumbnail} width="400" class="hover:opacity-80 transition-all" />
                </a>
              </div>
            );
          })
      }
    </div>
    <div class="hidden gap-4 mb-4">
      <button class="primary">Hello world</button>
      <button class="default">Hello world</button>
      <button class="text">Hello world</button>
    </div>
  </div>
</BaseLayout>
