---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Jon Van Dam';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="p-5">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur
      suscipit, voluptatem odio sunt perferendis esse distinctio, sapiente quos
      harum voluptate quae laboriosam ipsum cum error exercitationem quibusdam
      similique natus aspernatur.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur
      suscipit, voluptatem odio sunt perferendis esse distinctio, sapiente quos
      harum voluptate quae laboriosam ipsum cum error exercitationem quibusdam
      similique natus aspernatur.
    </p>
  </div>
</BaseLayout>
