---
import { Icon } from 'astro-icon/components';
import { deslugify, slugify } from '../../util/util';

const { projectId } = Astro.props;

const getAllArticles = await Astro.glob('../../pages/*/*/*.md');

const articles = getAllArticles.filter((article) => {
  return article.url?.includes(projectId);
});
---

<modal id="search-modal" class="search-modal hidden">
  <div class="search-modal-content">
    <div class="p-2 w-full relative">
      <input autofocus class="search-input" placeholder={'Search ' + deslugify(projectId) + '...'} />
      <Icon name="basil:search-outline" class="absolute top-5 left-5 scale-125 pointer-events-none" />
    </div>
    <div class="p-2">
      <ul class="max-h-[400px] overflow-y-auto">
        {
          articles.map((article) => {
            return (
              <li class="py-2 px-1">
                <a href={article.url}>{article.frontmatter.title}</a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</modal>

<script is:inline>
  // Register click outside of modal -> close modal

  window.addEventListener('click', (evt) => {
    const target = evt.target;

    const modal = document.getElementById('search-modal');

    if (target == modal) {
      modal.classList.add('hidden');
    }
  });
</script>
