---
import Menu from './Menu.astro';
import MenuToggle from './MenuToggle.astro';
---

<header class="header-wrap">
  <div id="header" class="header">
    <a class="text-lg whitespace-nowrap no-hover" href="/"> Jon Van Dam </a>

    <div id="header-menu" class="header-menu">
      <Menu />
    </div>

    <MenuToggle />
  </div>
</header>
