---
import Menu from './Menu.astro';
import MenuToggle from './MenuToggle.astro';

const { onHomePage } = Astro.props;
---

<div class="h-full max-w-[90rem] mx-auto">
  <div id="header" class="header">
    <a class={'whitespace-nowrap no-hover text-xl'} href="/">Jon Van Dam</a>

    <div id="header-menu" class="header-menu">
      <Menu />
    </div>

    <MenuToggle />
  </div>
</div>
