---
import ThemeToggle from './ThemeToggle.astro';
import { Icon } from 'astro-icon/components';

const { project } = Astro.props;
---

<>
  {
    project ? (
      <>
        <button id="search-modal-toggle" class="search-modal-toggle">
          <Icon name="basil:search-outline" class="scale-110 pointer-events-none" />
          <span class="text-tertiary">Search...</span>
        </button>
        {project.marketplaceUrl ? (
          <a class="button cta marketplace" href={project.marketplaceUrl} target="_blank">
            <Icon name="simple-icons:unrealengine" />
            Get on marketplace
          </a>
        ) : null}
      </>
    ) : null
  }
  <a class="button cta discord" href="https://discord.com/invite/jZ2s8a7cg4" target="_blank">
    <Icon name="simple-icons:discord" />
    Join us on Discord
  </a>
  <ThemeToggle />
</>

<script is:inline>
  // Open search-modal

  const searchModalToggle = document.querySelector('#search-modal-toggle');

  searchModalToggle?.addEventListener('click', () => {
    const modal = document.getElementById('search-modal');
    modal?.classList.remove('hidden');
  });
</script>
