---
import ThemeToggle from './ThemeToggle.astro';
import { Icon } from 'astro-icon/components';
---

<>
  <a
    class="button discord"
    href="https://discord.com/invite/jZ2s8a7cg4"
    target="_blank"
  >
    <Icon name="simple-icons:discord" />
    Join us on Discord
  </a>
  <ThemeToggle />
</>
