---
const currentYear = new Date().getFullYear();
---

<footer class="text-secondary border-t border-primary text-sm">
  <div class="my-4 flex justify-center">
    <p>© {currentYear} Jon Van Dam | Site by Jef Ceuppens</p>
  </div>
</footer>
