---

---

<header
  class="fixed top-0 w-full h-12 bg-white z-50 border-b border-neutral-400"
>
  <div class="w-full h-full flex justify-between items-center px-8">
    <a class="text-xl" href="/grapple-component">Jon Van Dam</a>
    <div></div>
  </div>
</header>
