---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');
  return projectEntries.map((entry: any) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props as any;
const pageTitle = (entry as any).data.title;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="p-4">
    <h1 class="text-xl mb-4">{entry.data.title}</h1>
    <p>{entry.data.description}</p>
  </div>
</BaseLayout>
