---
import Social from './Social.astro';

const currentYear = new Date().getFullYear();

const { project } = Astro.props;
---

<footer class={`w-full h-[180px] ${project ? 'border-t border-primary' : ''}`}>
  <div class="max-w-[90rem] mx-auto">
    <div class="max-w-[400px] mx-auto px-8 text-secondary text-sm">
      <div class="border-b border-primary mx-auto">
        <div class="my-4 flex flex-col gap-3 justify-center items-center">
          <Social platform="discord" label="Join us on Discord" link="https://discord.com/invite/jZ2s8a7cg4" />
          <Social platform="maildotru" label="jon@jonvandam.com" link="mailto:jon@jonvandam.com" />
          <Social
            platform="unrealengine"
            label="Unreal Marketplace"
            link="https://www.unrealengine.com/marketplace/en-US/profile/Jon+Van+Dam?count=20&sortBy=effectiveDate&sortDir=DESC&start=0"
          />
        </div>
      </div>
      <div class="my-4 flex justify-center">
        <p class="truncate">
          © {currentYear} Jon Van Dam | Site by Jef Ceuppens
        </p>
      </div>
    </div>
  </div>
</footer>
