---
import Social from './Social.astro';

const currentYear = new Date().getFullYear();

const { project } = Astro.props;
---

<footer
  class={`w-full text-xs ${project ? 'border-t border-primary' : 'bg-zinc-800 dark:bg-transparent text-zinc-100 px-8'}`}
>
  <div class="max-w-[90rem] mx-auto">
    <div class="flex flex-row justify-between items-end flex-wrap gap-x-16 gap-y-8 py-8">
      <div class="flex flex-col sm:flex-row flex-wrap gap-x-8 gap-y-4">
        <Social platform="discord" label="Join us on Discord" link="https://discord.com/invite/jZ2s8a7cg4" />
        <Social platform="maildotru" label="jon@jonvandam.com" link="mailto:jon@jonvandam.com" />
        <Social
          platform="unrealengine"
          label="Unreal Marketplace"
          link="https://www.unrealengine.com/marketplace/en-US/profile/Jon+Van+Dam?count=20&sortBy=effectiveDate&sortDir=DESC&start=0"
        />
      </div>
      <div class="">
        <p>
          © {currentYear} Jon Van Dam | Site by Jef Ceuppens
        </p>
      </div>
    </div>
  </div>
</footer>
