---
import Footer from '../components/footer/Footer.astro';
import HtmlLayout from './HtmlLayout.astro';

const { pageTitle } = Astro.props;
---

<HtmlLayout pageTitle={pageTitle}>
  <main class="flex-1 mt-12 w-full">
    <div class="h-full max-w-[90rem] mx-auto">
      <div class="h-full px-8">
        <slot />
      </div>
    </div>
  </main>
  <Footer />
</HtmlLayout>
