---
import Footer from '../components/footer/Footer.astro';
import Header from '../components/header/Header.astro';
import HtmlLayout from './HtmlLayout.astro';

const { pageTitle } = Astro.props;
---

<HtmlLayout pageTitle={pageTitle}>
  <Header chapterIds={undefined} />
  <main class="mt-12 w-full h-full">
    <slot />
  </main>
  <Footer />
</HtmlLayout>
