---
import Footer from '../components/footer/Footer.astro';
import Header from '../components/header/Header.astro';
import HtmlLayout from './HtmlLayout.astro';

const { pageTitle } = Astro.props;
---

<HtmlLayout pageTitle={pageTitle}>
  <div class="gradient-bg">
    <Header onHomePage={true} />
    <main class="mt-12 w-full h-full" style={{ minHeight: 'calc(100vh - 228px)' }}>
      <slot />
    </main>
    <Footer />
  </div>
</HtmlLayout>
